* {
    unicode-bidi: plaintext;
}

.container {
    padding: 1em;
    margin-top: 1em;
}

.container,
.card,
.box,
.navbar {
    border-radius: 15px;
}

html {
    background-color: #eaeaea;
}

.container {
    background-color: #ffffff;
}

.is-text-overflow {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.is-text-break {
    word-break: break-word;
}

.is-masked,
.is-full-mask,
.is-full-mask :not(figure) {
    color: transparent !important;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: light) {
    .has-tooltip {
        border-bottom-color: #000;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        unicode-bidi: plaintext;
    }

    .container {
        padding: 1em;
        margin-top: 1em;
    }

    .container,
    .card,
    .box,
    .navbar {
        border-radius: 15px;
    }

    html {
        background-color: #000000;
    }

    .container {
        background-color: #0f1010;
    }

    .is-text-overflow {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .is-masked,
    .is-full-mask,
    .is-full-mask :not(figure) {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    }

    .has-tooltip {
        border-bottom-color: rgba(255, 255, 255, 0.3);
    }
}

.is-bold {
    font-weight: bold;
}

.is-ellipsis {
    max-width: calc(100% - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.has-tooltip {
    cursor: help;
    border-bottom: 1px dotted;
}

.is-justify-center {
    justify-content: center;
}

.is-pre {
    white-space: pre;
}

.is-pre-wrap {
    white-space: pre-wrap;
}

.vue-notification {
    background: unset;
    border-left: none;
}

.notification-title {
    font-size: 1.5em;
    font-weight: bold;
}

.notification-content {
    font-size: 1.2em;
}

.vue-notification-wrapper {
    cursor: pointer;
    padding-top: 0.5em;
}

.card.is-danger {
    border: var(--bulma-control-border-width) solid var(--bulma-danger);
}

.card.is-info {
    border: var(--bulma-control-border-width) solid var(--bulma-info);
}

.card.is-success {
    border: var(--bulma-control-border-width) solid var(--bulma-success);
}

.card.is-warning {
    border: var(--bulma-control-border-width) solid var(--bulma-warning);
}

.card.is-gray {
    border: var(--bulma-control-border-width) solid rgba(56, 56, 56, 0.38);
}

.button.is-purple {
    background-color: #5f00d1;
    border-color: transparent;
    color: #fff;
}

.has-text-purple {
    color: #5f00d1 !important;
}

@media screen and (min-width: 769px), print {
    .field.is-grouped-tablet {
        display: flex;
        gap: 0.75rem;
        justify-content: flex-start;
    }

    .field.is-grouped-tablet > .control {
        flex-shrink: 0;
    }

    .field.is-grouped-tablet > .control.is-expanded {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .field.is-grouped-tablet.is-grouped-centered {
        justify-content: center;
    }

    .field.is-grouped-tablet.is-grouped-right {
        justify-content: flex-end;
    }

    .field.is-grouped-tablet.is-grouped-multiline {
        flex-wrap: wrap;
    }
}

.is-strike-through {
    text-decoration: line-through;
}

.is-pointer-help {
    cursor: help;
}

.is-text-contents {
    display: contents;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.2s ease;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
}

.transparent-bg {
    opacity: 0.8;
}

.bg-fanart {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.is-terminal {
    background-color: #1f2229 !important;
    color: #e3c981;
    padding: 0.50rem;
    line-height: 1.7;
}

.is-terminal > span:nth-child(even), .is-terminal > code > span:nth-child(even) {
    color: #ffc9d4;
}

.is-terminal > span:nth-child(odd), .is-terminal > code > span:nth-child(odd) {
    color: #e3c981;
}

.is-full-height {
    height: 100%;
}

.mc {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    box-shadow: var(--bulma-shadow);
    min-height: 128px;
    border-radius: 0.75rem;
}

.mc-image {
    flex: 0 0 20%;
    overflow: hidden;
    display: flex;
    border-radius: 0.75rem 0 0 0.75rem;
}

.mc-image img {
    height: 100%;
    width: auto;
    object-fit: cover;
    display: block;
}

.mc-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: calc(100% - 20%);
}

.scaled-image {
    width: 100%;
    height: auto;
    max-width: 180px;
    max-height: 270px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .mc {
        display: block;
    }

    .mc-image {
        display: none;
    }

    .mc-content {
        width: 100%;
    }

    .scaled-image {
        max-width: 120px;
        max-height: 180px;
    }
}

.mc-content > .card {
    min-height: 128px;
    border-radius: 0 0.75rem 0.75rem 0;
    box-shadow: none;
}

.fa-animate-10 {
    --fa-animation-iteration-count: 10;
}
