parameters:
    treatPhpDocTypesAsCertain: false
    level: max
    bootstrapFiles:
        - ./pre_init.php
    excludePaths:
        - ./tests/*
        - ./vendor/*
        - ./data/*
        - ./public/*
        - ./assets/*
    fileExtensions:
        - php
    paths:
        - ./src/
        - ./config/
        - ./bin/
        - ./public/
    ignoreErrors:
        - identifier: encapsedStringPart.nonString
        - identifier: offsetAccess.invalidOffset
        - '#iterable type (array|PDOStatement|iterable)#'
        - '#Property (.+) \(string\) does not accept mixed.#'
        - '#Cannot cast mixed to string.#'
        - '#Parameter \#\d+ .+ of function .+ expects .+, mixed given.#'
        - '#Method .+ should return .+ but returns mixed.#'
        - '#Cannot access offset .+ on mixed.#'
        - '#Cannot cast mixed to .+#'
        - '#Argument of an invalid type mixed supplied for foreach, only iterables are supported.#'
        - '#Parameter \#\d+ .+ of .+ expects .+, mixed given.#'
        - '#Cannot access property .+ on mixed.#'
        - '#set_error_handler#'
        - '#Property .+ does not accept mixed.#'
        - '#Function .+ should return .+ but returns mixed.#'
        - '#Cannot call method .+ on mixed.#'
        - '#Parameter .+ of class .+ expects .+, mixed given.#'
        - '#Binary operation .+ results in an error.#'
        - '#Possibly invalid array key type mixed.#'
        - "#Trying to invoke mixed but it's not a callable.#"
        - "#Parameter .+ of method .+ expects array, mixed given.#"
        - "#mixed given.#"
