<?xml version="1.0"?>
<psalm errorLevel="4" resolveFromConfigFile="true" hideExternalErrors="true" ignoreInternalFunctionFalseReturn="false" autoloader="./pre_init.php">
    <projectFiles>
        <directory name="."/>
        <ignoreFiles allowMissingFiles="true">
            <directory name=".idea"/>
            <directory name="vendor"/>
            <directory name="assets"/>
            <directory name="frontend"/>
            <directory name="docker"/>
            <directory name="data"/>
            <directory name="bin"/>
        </ignoreFiles>
    </projectFiles>
    <extrasFiles>
        <file name="./.phpstorm.meta.php"/>
    </extrasFiles>
    <issueHandlers>
    </issueHandlers>
</psalm>
