{
    persist_config off
    http_port {$HTTP_PORT}
    https_port {$HTTPS_PORT}
}

http:// {
    root * /opt/app/public

	header * ?X-Request-Id "{http.request.uuid}"

    try_files {path} exported/{path} exported/{path}/ /index.php

    php_fastcgi 127.0.0.1:9000 {
        trusted_proxies private_ranges
        env X_REQUEST_ID "{http.request.uuid}"
    }

    file_server {
        hide .*
    }

    log
}
